@import url('https://fonts.googleapis.com/css2?family=Cairo&family=Manrope&display=swap');

/*===== Colors =====*/
$body_color:#040C18;
$color_1:#2CA2BC;
$color_2:#FAFAFA;
$footer_bg:#031B34;
/*===== VARIABLES CSS =====*/

/*===== Font and typography =====*/
$font_1:'Manrope', sans-serif;
$font_1:'Cairo', sans-serif;
/*===== z index =====*/

