
/*===== Colors =====*/
$body_color:#040C18;
$color_1:#FF4820;
$color_2:#042C54;
$footer_bg:#031B34;
/*===== VARIABLES CSS =====*/

/*===== Font and typography =====*/
$font_1:'Manrope', sans-serif;

/*===== z index =====*/

